{% extends 'base.html.twig' %}

{% block title %}Films - Movie Explorer
{% endblock %}

{% block body %}
	<style>
		.example-wrapper {
			margin: 1em auto;
			max-width: 800px;
			width: 95%;
			font: 18px / 1.5 sans-serif;
		}
		.example-wrapper code {
			background: #F5F5F5;
			padding: 2px 6px;
		}
	</style>

	<div class="example-wrapper">
		<h1 class="font-mono text-xl font-bold text-center my-10">{{ titre }}</h1>
		<ul class="grid grid-cols-3 gap-4">
			{% for film in films %}
				<li class="p-5 bg-white rounded-md shadow-[0px_0px_5px_0px_#00000040]">{{film.title}}
					-
					{{film.année}}</li>
			{% else %}
				<li>Aucun films disponible</li>
			{% endfor %}
		</ul>
	</div>
{% endblock %}
